<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Upload</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main-ctn">
        <div class="header">
            <h1> MUSIC IS <br>EVERYTHING</h1>
            <a> Log In</a>
            <a> Sign Up</a>
        </div>
        <div class="first-ctn">
            <p>PLAYLIST</p>
            <h2>Get on the right track <br>for free</h2>
            <h5>Enjoy ad-free music, offline listening and more. No subscription, no cancelation</h5>
            <button>ALWAYS FREE</button>
        </div>
        <div class="second-ctn">
            <p>PLAYLIST</p>
            <h2>Music is the <strong> Soundtrack </strong> of Life</h2>
            <h2>Music is the <strong> Language </strong> of the Spirit</h2>
            <h2>Love is <strong> Friendship </strong> set to  Music</h2>
            <button>Get the Mobile App</button>
        </div>
        <div class="third-ctn">
            <a class="footer-link" href="https://www.linkedin.com/in/augusta-ezike-a013a62b/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/Augusta_reqe">Twitter</a>
            <a class="footer-link" href="https://augustaezike.github.io/Personal-Webisite/">Website</a>
            <a>Disclaimer</a>
            <a>Legal</a>
            <p class= "footer">© 2021 Augusta</p>
          </div>
        
    </div>
    
</body>
</html>