<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-ctn">
        <div class="header flex">
            <nav class="navbar justify-content-between">
                <h1 class="navbar-brand"> Music is <br> EVERYTHING</h1> 
                <span class="navbar-text">
                    <button class="signUp btn btn-outline-success my-2 my-sm-0">Sign Up</button>
                    <button class="logIn btn btn-outline-success my-2 my-sm-0">Log In</button>
                </span>                
              </nav>
        </div>
        <div class="first-ctn">
            
            <h3>Get on the right track <br>for free</h3>
            <h5>Listen, connect and share music with friends </h5>
            <h5>Enjoy ad-free music, offline listening and more. No subscription, no cancelation</h5>
            
        </div>
        <div class="second-ctn">
        
            <h5> Music is the
                <a href="" class="typewrite" data-period="2000" data-type='["<strong> Soundtrack </strong> of Life", "<strong> Language </strong> of the Spirit", "Love is <strong> Friendship </strong> set to  Music"]'>
                    <span class="wrap"></span>
                </a> 
            </h5>
            <button class="signUp btn btn-outline-success my-2 my-sm-0">Sign Up</button>
            <button class="logIn btn btn-outline-success my-2 my-sm-0">Log In</button>

        </div>
        <div class="third-ctn">
            <a class="footer-link" href="https://www.linkedin.com/in/augusta-ezike-a013a62b/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/Augusta_reqe">Twitter</a>
            <a class="footer-link" href="https://augustaezike.github.io/Personal-Webisite/">Website</a>
            <a>Disclaimer</a>
            <a>Legal</a>
            <p class= "footer">© 2021 Augusta</p>
          </div>
        
    </div>
    
</body>
</html>